th {
    position: -webkit-sticky;
    position: sticky;
    background-color: burlywood;
    top: -3px;
    z-index: 2;
}

body {
    background-color: bisque;
}

nav {
    background: bisque;
    font-style: italic;
    font-weight: bold;
}
